alias q=exit
alias :q=exit

alias ls='eza -a'
alias ll='eza -la'

alias cat=bat

alias grep='grep --color=auto'

alias open=xdg-open
alias zed=zeditor

alias update='paru -Syyu --noconfirm && flatpak upgrade -y'
alias update-shutdown='update && shutdown now'
alias update-reboot='update && reboot'

alias upgrade=update
alias upgrade-shutdown=update-shutdown
alias upgrade-shutdown=update-reboot

alias vencordinstaller='sh -c "$(curl -sS https://raw.githubusercontent.com/Vendicated/VencordInstaller/main/install.sh)"'

alias spotify-player=spotify_player

function y() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
    yazi "$@" --cwd-file="$tmp"
    IFS= read -r -d '' cwd < "$tmp"
    [ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
    rm -f -- "$tmp"
}
